asgiref==3.2.3
Django==3.0
django-appconf==1.0.3
django-avatar==4.1.0
django-countries==5.5
django-crispy-forms==1.8.1
django-money==1.0
numpy==1.22.0
pandas==0.25.3
Pillow==6.2.1
py-moneyed==0.8.0
pycountry==19.8.18
python-dateutil==2.8.1
pytz==2019.3
six==1.13.0
sqlparse==0.3.0
