{% extends 'website/header.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="parent_form">
<div class="com-md-8 offset-md-2" id="budget_form" >
  <h1 id="title">Control Your Money, Make Budget </h1>
  <form method="POST">
    {% csrf_token %}
    <div class="form-group" >
      {{ form.category | as_crispy_field }}
    </div>
    <div class="form-group" >
      {{ form.amount | as_crispy_field }}
    </div>
    <div class="form-group" >
      {{ form.budget_date | as_crispy_field }}
    </div>
    <br>
    <button type="submit" id="budget_btn">Save</button>
    <a href="{% url 'website:check-budget' %}" class="btn btn-primary" >Check Budget</a>
  </form>
</div>
</div>
{% endblock  %}