{% extends "website/header.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="parent_form">
<div class="col-md-8 offset-md-2" id="forms">
  <h1 id ="title">Spend Less Get More</h1>
    <form method = "POST">
        {% csrf_token %}
        <div class="form-group">
          {{ form.first_name | as_crispy_field }}
        </div>
        <div class="form-group">
          {{ form.last_name | as_crispy_field }}
        </div>
        <div class="form-group">
          {{ form.email | as_crispy_field }}
        </div>
        <div class="form-group">
          {{ form.password1 | as_crispy_field }}
        </div>
        <div class="form-group">
          {{ form.password2 | as_crispy_field }}
        </div>
        <small>
          By registring you agree to our <a href="#">Term Of Use</a> and <a href="#"> Privacy Policy</a>
        </small>
        <br>
        <br>
        <button id="reg_btn" type="submit">SIGN UP</button>
    </form>
</div>
</div>

{% endblock %}